@charset "UTF-8";
/*<!----Codado á mão por Felipe Garcia Silva-->*/
@font-face {
    font-family: 'Idroid';
    src: url(fontes/idroid.otf) format('opentype');
}
@font-face {
    font-family: 'Bebas Neue';
    src: url(fontes/BebasNeue-Regular.ttf) format('truetype');
}
/*
#c5ebd6
#3ddc84
#83e1ad
#2fa866
#063d1e
#1a5c37
*/
*
{
    margin: 0px;
    padding: 0px;
}
:root
{
    --cor0: #c5ebd6;
    --cor1: #3ddc84;
    --cor2: #83e1ad;
    --cor3: #2fa866;
    --cor4: #063d1e;
    --cor5: #1a5c37;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Idroid', cursive;
}
/*Configuração do corpo:*/
body
{
    background-color: var(--cor1);

}
/*Configurações do cabeçalho*/
header
{
    min-height: 150px;
    background-color: var(--cor4);
    text-align: center;
    padding-top: 40px;
    background-image: linear-gradient(to bottom, var(--cor1),var(--cor3), var(--cor5), var(--cor4));
    
}
header > p
{
    font-family: var(--fonte-padrao);
    color: white;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 4px #000000;
}
header > h1#principal
{
    font-family: var(--fonte-destaque);
    color:white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    margin-bottom: 20px;
    font-size: 3em;

}

/*Configurações do menu de navegação*/
nav
{
    display: block;
    background-color: var(--cor4);
    color: white;
    font-size: 1.2em;
    font-family: Bebas Neue, cursive;
    box-shadow: 0px 4px 2px -2px #000000;
    padding-bottom: 10px;
    padding-top: 10px;

}
nav > a
{
    color: white;
    text-decoration: none;
    padding: 10px;
    text-shadow: 2px 2px 4px #000000;
}
/*Configurações das principais*/
main
{
    min-width: 400px;
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.61);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main > h1.titulo
{
    font-family: var(--fonte-android);
    color: var(--cor4);
    max-width: auto;
}
main > article > h2
{
    font-family: var(--fonte-android);
    color: var(--cor4);
    max-width: auto;
    background-image: linear-gradient(to right, var(--cor2), var(--cor0),white);
}
main > article > p
{
    font-family: var(--fonte-padrao);
    color: black;
    text-align: justify;
    line-height: 1.5em;
    text-indent: 30px;
}

/*congigurações de rodapé*/
footer
{
    display: block;
    background-image: linear-gradient(#063d1e);
    color: white;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding:5px;
}
footer > p > a.gg
{
    color: white;
    text-decoration: none;
}
footer > p > a.gg:hover
{
    color: var(--cor2);
    text-decoration: underline;
}
a
{
    color: var(--cor5);
    text-decoration: none;
    font-weight: bolder;
}
a:hover
{
    color: var(--cor2);
    text-decoration: underline;
}


/*Configurações de imagens*/
img
{
    margin: auto;
    display: block;
    max-width: 100%;
}
/*Configurações do vídeo*/
iframe
{
    margin: auto;
    display: block;
    max-width: 100%;
}
div
{
    margin: auto;
    display: block;
    max-width: 800px;
    background-color: var(--cor5);
    padding: 20px;
}
/*Estilos de palavras-chave e links*/
strong
{
    color: var(--cor3);
}

/*aside e listas*/
aside
{
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
}
aside > ul
{
    list-style-position: inside;
    columns: 2;
    list-style-type: '✔️ ';

}
aside > h3
{
    font-family: var(--fonte-padrao);
    color: white;
    background-color: var(--cor4);
    padding: 5px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
aside > p
{
    font-family: var(--fonte-padrao);
    color: black;
    text-align: justify;
    line-height: 1.5em;
    text-indent: 30px;
}  



